.tableHeader{
    display: grid;
    grid-template-columns: var(--tableGrid);
    background: var(--grayBg);
    padding: 5px;
    border-bottom: solid 2px var(--lightGray);
    div:not(:last-child){
        position: relative;
        &::after{
            content: "";
            display: block;
            height: 90%;
            width: 1px;
            background-color: var(--lightGray);
            position: absolute;
            top: 3px;
            right: 5px;
        }
    }
}