:root{
    --lightGray: #999;
    --grayBg: rgba(214,214,214, .5);
    --tableGrid: 100px  100px 2fr  1fr;
}

.AppContainer{
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
@media (max-width:640px){
        width: 100vw;
    }
}